* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    color: black;
    background: url(https://th.bing.com/th/id/OIP.Dthvhh5dZhFGeDFKS12VRAHaFM?w=233&h=180&c=7&r=0&o=5&pid=1.7);
    position: relative;
    width: 100%;
    height: 300vh;
    background-size: cover;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: url(https://wallpaperset.com/w/full/0/2/a/366663.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--1));

}

.navbar a:hover {
    color: palevioletred;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(https://th.bing.com/th/id/R.ec63dbc6cfa9be57298f2e88e420c7e6?rik=1%2bYAdDY8rogd7g&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f2IiBThV.jpg&ehk=843Fc5J7uxJ6Qce40xhN0IoeRm28Y%2fjjZrxQhsdnSbs%3d&risl=&pid=ImgRaw&r=0) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img {
    padding-bottom: 5%;
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 25px;
    padding-top: 5%;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    color: #420177;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #fd0380;
}

.home-content h1 {
    font-size: 56px;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}

.home-content p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

    
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #c511f1;
    border-radius: 50%;
    font-size: 20px;
    color: #c511f1;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;


}

.home-sci a:hover {
    background: #c511f1;
    color: black;
    box-shadow: 0 0 20px #c511f1;
}

.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: #c511f1;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #c511f1,
        0 0 25px #c511f1

}

.btn-box:hover {
    box-shadow: 0 0 5px #c511f1,
        0 0 25px #c511f1, 0 0 50px #c511f1,
        0 0 100px #c511f1, 0 0 200px #c511f1
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    padding-top: 10%;
}

.about-text h2 {
    font-size: 60px;
    color: #420177;
}

.about-text h2 span {
    color: #c511f1;
}

.about-text h4 {
    font-size: 25px;
    font-weight: 600;
    color:rgb(255, 0, 179);
    margin: 15px 0 30px;
    line-height: 1.7;
}

.about-text p {
    font-size: 16px;
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    line-height: 1.4S;
    margin-bottom: 4rem;
}

#services {
    color: #420177;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    color: #420177;
}

.sub-title span {
    color: #c511f1;
}

.container {
    padding: 90px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #c511f1,
                1px 1px 40px #ec18be
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #ec18be;
    border-radius: 40px;
    font-size: 16px;
    color: bisque;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #c511f1,
        0 0 25px #c511f1
}

.read:hover {
    box-shadow: 0 0 5px #c511f1,
        0 0 25px #c511f1, 0 0 50px #c511f1,
        0 0 100px #c511f1, 0 0 200px #c511f1;
}

.services-list div:hover {
    transform: translateY(-10px);
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 500px;
    height: 400px;
    padding: 75px 90px;
    margin-left: 40px;

}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: rgb(12, 12, 12);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }  
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #420177;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}
.progress-line.css span {
    width: 80%;
}
.progress-line.javascript span {
    width: 60%;
}
.progress-line.python span {
    width: 50%;
}
.progress-line.react span {
    width: 55%;
}
.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 80px;

}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
}

.bar{
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 40px 0;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: rgb(12, 12, 12);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }  
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #420177;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}
.progress-line.css span {
    width: 80%;
}
.progress-line.javascript span {
    width: 60%;
}
.progress-line.python span {
    width: 50%;
}
.progress-line.react span {
    width: 55%;
}

.progress-line.creativity span {
    width: 90%;
}
.progress-line.communication span {
    width: 85%;
}
.progress-line.problemsolving span {
    width: 80%;
}
.progress-line.teamwork span {
    width: 85%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}
.progress-line.css span::after {
    content: "80%";
}
.progress-line.javascript span::after {
    content: "60%";
}
.progress-line.python span::after {
    content: "50%";
}
.progress-line.react span::after {
    content: "55%";
}
.progress-line.creativity span::after {
    content: "90%";
}
.progress-line.communication span::after {
    content: "85%";
}
.progress-line.problemsolving span::after {
    content: "80%";
}
.progress-line.teamwork span::after {
    content: "85%";
}

.progress-line span::before {
    content: ".";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}
.progress-line.css span::after {
    content: "80%";
}
.progress-line.javascript span::after {
    content: "60%";
}
.progress-line.python span::after {
    content: "50%";
}
.progress-line.react span::after {
    content: "55%";
}
.progress-line.react span::after {
    content: "90%";
}
.progress-line.react span::after {
    content: "85%";
}
.progress-line.react span::after {
    content: "80%";
}
.progress-line.react span::after {
    content: "85%";
}

.progress-line span::before {
    content: ".";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText {
    100%{
        opacity: 1;
    }
}

.container2 {
    width: 500px;
    height: 400px;
    padding: 75px 90px;
    margin-left: 40px;

}

.heading2 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
}

.main-text {
    padding-top: 150px;
    margin-top: 200px;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    font-size: 60px;
    color: #420177;
}

.main-text h2 span {
    color: #c511f1;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#c511f1);
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 60px;
    transition: height 0.5s;
}

.layer h5{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: black;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i {
    color: #420177;
    margin-top: 20px;
    font-size: 20px;
    background: whitesmoke;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    color: #420177;
}

.contact-text h2 span{
    color: #c511f1;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(243, 7, 66);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.contact-text p {
    color: rgb(8, 8, 8);
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.contact-list {
    margin-bottom: 1rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
    color: #420177;
}

.contact-list i{
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #ec18be;
    font-size: 20px;
    font-weight: 600;
    transition: all .60s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #c511f1;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #c511f1;
    border-radius: 54%;
    font-size: 20px;
    color: #ec18be;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover{
    background: #c511f1;
    color: black;
    box-shadow: 0 0 20px #ec18be;
}

.contact-form form {
    position: relative;
}

.contact-form form input,form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: rgb(205, 160, 248);
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: o.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 12px 28px;
    background: #ec18be;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #c511f1,
        0 0 25px #c511f1
}

.contact-form form .send:hover {
    box-shadow: 0 0 5px #c511f1,
        0 0 25px #c511f1, 0 0 50px #c511f1,
        0 0 100px #c511f1, 0 0 200px #c511f1
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: url(https://wallpaperset.com/w/full/0/2/a/366663.jpg);
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 70px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}

.top i {
    color: aqua;
    background: #ec18be;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}


@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
